@import "remixicon/fonts/remixicon.css";
/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem; /*56px*/

  /*========== Colors ==========*/
  --white-color: #fff;
  --title-color: #252525;
  --bg-color: #f4f4f4;
  --first-color: #bc8d4b;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --lora-font: "Lora", serif;

  /*========== Font weight ==========*/
  --fw-thin-100: 100;
  --fw-extralight-200: 200;
  --fw--light-300: 300;
  --fw-regular-400: 400;
  --fw-medium-500: 500;
  --fw-semi-600: 600;
  --fw-bold-700: 700;
  --fw-extrabold-800: 800;
  --fw-black-900: 900;

  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
}

body {
  background-color: var(--white-color);
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

h1,
h2,
h3 {
  color: var(--white-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}
/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 3rem 0 1rem;
}

.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

.main {
  overflow: hidden; /*For animation*/
}

/*=============== HEADER ===============*/
.header {
  width: 100%;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: all 0.5s;
}
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top__location,
.top__book {
  display: none;
}
.nav__toggle,
.nav__close {
  color: var(--white-color);
}
.nav__toggle {
  display: inline-flex;
  font-size: 1.25rem;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .swiper-button-next,
  .swiper-button-prev {
    visibility: hidden !important;
  }
  .nav__menu {
    position: fixed;
    background-color: var(--title-color);
    top: 0;
    right: -300%;
    width: 70%;
    height: 100%;
    transition: 0.3s;
    padding: 5rem 3rem 0 4rem;
    border-left: 8px solid var(--border-color);
    z-index: var(--z-fixed);
  }
}
.nav__logo {
  width: 75px;
}
.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.nav__link {
  font-size: 13px;
  font-weight: var(--fw-medium-500);
  text-transform: capitalize;
  color: var(--white-color);
  transition: 0.3s;
  width: 100%;
}
.nav__link:hover {
  color: var(--first-color);
}
.nav__close {
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  left: 1.25rem;
  cursor: pointer;
}
.nav__social {
  padding-top: 2rem;
  display: flex;
  column-gap: 1rem;
}
.social__item {
  border: 1px solid var(--white-color);
  border-radius: 50%;
}
.social__link {
  font-size: 0.75rem;
  padding: 0.25rem;
  color: var(--white-color);
}
/* Show menu */
.show-menu {
  right: 0;
}

/* Change background header and hide location*/
.scroll-header {
  background-color: #252525;
  transition: all 0.5s;
}

.scroll-header .top__location,
.scroll-header .top__book {
  visibility: hidden;
}
/* Active link */
.active-link {
  color: var(--first-color);
  position: relative;
}
.active-link::before {
  content: "";
  width: 100%;
  position: absolute;
  bottom: -5px;
  left: 0;
  background: var(--first-color);
  height: 2px;
}

/*=============== HOME ===============*/
.home__content {
  position: relative;
}
.home__data {
  position: relative;
  height: 400px;
}
.home__data img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home__data::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.home__desc {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  text-align: center;
  z-index: 12;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home__desc h1 {
  font-size: 36px;
}
.home__desc p {
  font-size: 16px;
  color: var(--white-color);
  padding: 0 2rem;
  margin-bottom: var(--mb-2);
}

/*=============== BUTTONS ===============*/
.button {
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: var(--fw-bold-700);
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 24px;
  color: var(--white-color);
  border: 4px solid var(--white-color);
  position: relative;
}
.about--button {
  color: var(--title-color);
  border: 4px solid var(--title-color);
}
.button--book {
  margin-top: 20px;
}
/*=============== SERVICE ===============*/
.service {
  background-color: var(--bg-color);
}
.service__images img {
  width: 80px;
}
.service__content {
  padding: 3rem 0;
  row-gap: 2rem;
}
.service__item {
  text-align: center;
}
.service__item h3 {
  color: var(--title-color);
  font-size: 24px;
  font-weight: var(--fw-semi-600);
  text-transform: uppercase;
}
.service__item p {
  font-size: 16px;
  color: #252525;
  font-family: var(--lora-font);
  padding: 0 1rem;
}
/*=============== ABOUT ===============*/
.about__content {
  row-gap: 40px;
}
.about__data span {
  font-size: 16px;
  font-weight: var(--fw-regular-400);
}
.about__data h1 {
  font-size: 38px;
  font-weight: var(--fw-bold-700);
  color: var(--title-color);
  letter-spacing: 1px;
  line-height: 1em;
  position: relative;
  margin-bottom: 30px;
}
.about__data h1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60%;
  height: 2px;
  background-color: var(--title-color);
}
.about__data h1::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 60%;
  height: 4px;
  background-color: var(--title-color);
}
.about__data :nth-child(3) {
  font-family: var(--lora-font);
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 30px;
  font-style: italic;
  line-height: 1.7em;
  color: #252525;
}
.about__data :nth-child(4) {
  font-family: var(--lora-font);
  font-size: 14px;
  line-height: 1.7em;
  margin-bottom: 30px;
  color: var(--title-color);
}
.about__images {
  position: relative;
  width: 300px;
  height: 200px;
}
.about__images::before {
  content: "";
  position: absolute;
  width: 105%;
  height: 100%;
  border: 3px solid var(--title-color);
  top: 10%;
  left: 5%;
  z-index: 1;
}
.about__images img {
  width: 300px;
  position: relative;
  z-index: 10;
}
/*=============== BANNER ===============*/
.banner {
  height: 400px;
  margin-top: 40px;
  background-position: top;
  background-size: cover;
  mix-blend-mode: luminosity;
  background-attachment: fixed;
  position: relative;
}
.banner__data {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 1rem;
}
.banner__data h3 {
  font-size: 30px;
  position: relative;
  text-transform: uppercase;
}
.banner__data h3::before {
  content: "";
  width: 100%;
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  background-color: var(--white-color);
}
.banner__data h3::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: -12px;
  left: 0;
  height: 4px;
  background-color: var(--white-color);
}
.banner__data p {
  color: var(--white-color);
  font-family: var(--lora-font);
  margin-top: 30px;
  line-height: 130%;
}
.banner:hover {
  mix-blend-mode: normal;
}
/*=============== MENU ===============*/
.menu__title {
  text-align: center;
}
.menu__title span {
  color: #000;
  font-weight: var(--fw-regular-400);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.menu__title h1 {
  font-size: 38px;
  font-weight: var(--fw-bold-700);
  color: var(--title-color);
  letter-spacing: 1px;
  line-height: 1em;
  position: relative;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.menu__title h1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 2px;
  background-color: var(--title-color);
}
.menu__title h1::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 4px;
  background-color: var(--title-color);
}
.menu__title p {
  font-family: var(--lora-font);
  font-size: 14px;
  color: var(--title-color);
  margin-bottom: 40px;
  line-height: 1.7em;
}
.menu__group {
  row-gap: 2rem;
}
.menu__header {
  border: 5px solid var(--title-color);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.menu__header:hover {
  background-color: #252525;
  color: white;
}
.menu__header:hover.menu__header h3 {
  color: var(--white-color) !important;
}
.menu__header h3 {
  color: var(--title-color);
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.menu--icon {
  font-size: 40px;
  font-weight: 900;
}
.menu__content {
  position: relative;
  overflow: hidden;
  height: 0;
  transition: all 1s;
  opacity: 0;
}
.menu_open {
  height: auto;
  opacity: 1;
}
.accordion {
  position: relative;
  padding: 24px 12px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  border-bottom: 1px solid var(--title-color);
  padding-bottom: 20px;
}
.menu__images {
  position: relative;
}
.menu__images img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}
.accordion h3 {
  color: var(--title-color);
  font-size: 16px;
  text-transform: uppercase;
}
.accordion p {
  font-family: var(--lora-font);
  color: var(--title-color);
  font-size: 14px;
}
.accordion span {
  font-weight: var(--fw-bold-700);
}
/*Rotate icon, change color of titles and background*/
.accordion-open .menu__header {
  background-color: var(--title-color);
}
.accordion-open .menu__header h3,
.accordion-open .menu__header .menu--icon {
  color: var(--white-color) !important;
}
.accordion-open .menu--icon {
  transform: rotate(180deg);
}
/*=============== OPEN HOURS ===============*/
.open__images {
  position: relative;
  height: 400px;
  justify-self: center;
}
.open__images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.open__desc {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.open__desc h3 {
  color: var(--white-color);
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: var(--fw--light-300);
}
.open__desc h1 {
  font-size: 38px;
  font-weight: var(--fw-bold-700);
  color: var(--white-color);
  letter-spacing: 1px;
  line-height: 1em;
  position: relative;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.open__desc h1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 1px;
  background-color: var(--white-color);
}
.open__desc h1::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 4px;
  background-color: var(--white-color);
}
.open__desc span {
  color: var(--white-color);
  font-family: var(--lora-font);
  font-size: 16px;
}
.open__hour {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
}

/*=============== EXPERIENCE ===============*/
.experience__content {
  row-gap: 5rem;
}
.experience__images {
  position: relative;
  width: 300px;
  height: 450px;
}
.experience__images::before {
  content: "";
  position: absolute;
  width: 105%;
  height: 100%;
  border: 3px solid var(--title-color);
  top: 10%;
  left: 5%;
  z-index: 1;
}
.experience__images img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}
.experience__data {
  text-align: right;
  position: relative;
}
.experience__data span {
  color: #000;
  font-weight: var(--fw-regular-400);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.experience__data h1 {
  font-size: 38px;
  font-weight: var(--fw-bold-700);
  color: var(--title-color);
  letter-spacing: 1px;
  line-height: 1em;
  position: relative;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.experience__data h1::before {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 0;
  width: 40%;
  height: 2px;
  background-color: var(--title-color);
}
.experience__data h1::after {
  content: "";
  position: absolute;
  bottom: -11px;
  right: 0;
  width: 40%;
  height: 4px;
  background-color: var(--title-color);
}
.experience__data :nth-child(3) {
  font-family: var(--lora-font);
  font-size: 20px;
  font-style: italic;
  line-height: 1.7em;
  color: var(--title-color);
  margin-bottom: 30px;
  padding-left: 0.5rem;
}
.experience__data :nth-child(4),
.experience__data :nth-child(5) {
  font-size: 15px;
  font-family: var(--lora-font);
  color: var(--title-color);
  margin-bottom: 15px;
  line-height: 1.7em;
  padding-left: 1rem;
}
/*=============== VISIT US ===============*/
.visit__images {
  position: relative;
}
.visit__desc {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.visit__desc span {
  color: var(--white-color);
  font-weight: var(--fw-regular-400);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.visit__desc h1 {
  font-size: 30px;
  font-weight: var(--fw-bold-700);
  color: var(--white-color);
  letter-spacing: 1px;
  line-height: 1em;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.visit__desc h1::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 2px;
  background-color: var(--white-color);
}
.visit__desc h1::after {
  content: "";
  position: absolute;
  bottom: -11px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 4px;
  background-color: var(--white-color);
}
.visit__desc p {
  font-family: var(--lora-font);
  color: var(--white-color);
  font-size: 14px;
  margin-bottom: 30px;
  padding: 0 1.75rem;
}
/*=============== FOOTER ===============*/
.footer.section {
  padding: 3rem 0 0;
}
.footer__content {
  row-gap: 2rem;
}
.footer__item {
  text-align: center;
}
.footer__item h1 {
  font-size: 20px;
  color: var(--title-color);
  text-transform: uppercase;
  margin-bottom: 5px;
}
.footer__item p {
  font-family: var(--lora-font);
  color: var(--title-color);
  font-style: italic;
}
.footer__social {
  text-align: center;
  margin-top: 40px;
}
.footer__social ul {
  display: flex;
  column-gap: 0.75rem;
  justify-content: center;
  align-items: center;
}
.footer__social li i {
  font-size: 1.15rem;
  border: 1px solid var(--title-color);
  border-radius: 50%;
  padding: 0.25rem;
}
.footer__copyright p {
  margin-top: 5px;
  font-size: 12px;
  color: var(--title-color);
}
.footer__copyright span {
  color: var(--first-color);
}
.footer__gallery {
  margin-top: 40px;
}
.gallery__content {
  grid-template-columns: repeat(2, 1fr);
}
.gallery__item {
  position: relative;
}
.gallery__item img {
  width: 100% !important ;
  height: 100% !important;
  object-fit: cover;
}
/*=============== SCROLL UP ===============*/

/* Show Scroll Up*/

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  background: var(--title-color);
}
::-webkit-scrollbar-thumb {
  background: #f4f4f485;
  border-radius: 0.5rem;
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 767px) {
  .social__link {
    font-size: unset;
    padding: 0;
  }
  .social__item {
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button--prev,
  .button--next {
    visibility: hidden;
  }
}
@media screen and (min-width: 576px) {
  .nav__menu {
    width: 40%;
  }
  .service__content {
    grid-template-columns: repeat(3, 180px);
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
  }
  .service__images {
    height: 106px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .service__item h3 {
    font-size: 16px;
  }
  .service__item p {
    font-size: 12px;
  }
  .about__data h1::before,
  .about__data h1::after {
    width: 36%;
  }
  .about__data :nth-child(3),
  .about__data :nth-child(4) {
    padding-right: 4rem;
  }
  .about__images {
    width: 450px;
    height: 300px;
  }
  .about__images img {
    width: 100%;
    height: 100%;
  }
  .about__images::before {
    width: 100%;
    left: unset;
    right: -10%;
  }
  .menu__title p {
    padding: 0 4rem;
  }
  .menu__images img {
    width: 100px;
  }
  .open__images img {
    height: auto;
  }
  .experience__images {
    width: 400px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .experience__images img {
    width: 100%;
    height: 100%;
  }
  .experience__images::before {
    width: 90%;
    left: unset;
    right: -15%;
  }
  .experience__data h1::before,
  .experience__data h1::after {
    width: 25%;
  }
  .visit__desc {
    padding: 0 1rem;
  }
  .visit__desc h1 {
    font-size: 40px;
  }
}
/* For medium devices */
@media screen and (min-width: 767px) {
  .nav {
    height: calc(var(--header-height) + 2.5rem);
    justify-content: center;
  }
  .nav__menu {
    width: 100%;
  }
  .top__book,
  .top__location {
    display: block;
    font-size: 12px;
    font-family: var(--lora-font);
    color: var(--white-color);
    text-align: center;
  }
  .nav__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 3rem;
    justify-content: center;
  }
  .nav__content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .nav__close,
  .nav__toggle {
    display: none;
  }
  .nav__social {
    display: none;
  }
  .button--prev,
  .button--next {
    color: var(--white-color);
  }
  .home__data {
    height: 600px;
  }
  .home__desc h1 {
    font-size: 100px;
  }
  .home__desc p {
    padding: 0 8rem;
  }
  .service__content {
    column-gap: 3rem;
  }
  .about__content {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    justify-content: center;
  }
  .about__images {
    width: 90%;
    height: 70%;
  }
  .about__images::before {
    left: 5%;
    width: 105%;
  }
  .about__images img {
    object-fit: cover;
  }
  .about__data h1 {
    font-size: 40px;
  }
  .about__data h1::before,
  .about__data h1::after {
    width: 55%;
  }
  .about__data :nth-child(3),
  .about__data :nth-child(4) {
    padding-right: 1rem;
  }
  .banner__data {
    padding: 0 6rem;
  }
  .banner__data h3 {
    font-size: 40px;
  }
  .menu__title h1::before,
  .menu__title h1::after {
    width: 30%;
  }
  .menu__item {
    margin: 0 30px;
  }
  .menu__content {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }
  .menu__images img {
    width: 150px;
  }
  .experience__content {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }
  .experience__images {
    width: 350px;
    margin-left: unset;
    margin-right: unset;
  }
  .experience__images::before {
    width: 100%;
    right: -10%;
    top: 5%;
  }
  .experience__data h1 {
    font-size: 40px;
  }
  .experience__data h1::before,
  .experience__data h1::after {
    width: 40%;
  }
  .visit__images img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .visit__desc h1 {
    font-size: 45px;
  }
  .visit__desc h1::before,
  .visit__desc h1::after {
    width: 100%;
  }
  .footer__content {
    grid-template-columns: repeat(3, 1fr);
  }
  .gallery__content {
    grid-template-columns: repeat(8, 1fr);
  }
}
/* For large devices */
@media screen and (min-width: 992px) {
  .open {
    max-height: 500px;
    overflow: hidden;
  }
  .section {
    padding: 5rem 0 1rem;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .home__data {
    min-height: 100vh;
  }
  .nav.container {
    max-width: 90%;
  }
  .home__desc p {
    padding: 0 15rem;
  }
  .service__content {
    grid-template-columns: repeat(3, 1fr);
  }
  .service__item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
  }
  .service__item p {
    padding: 0;
    font-size: 13px;
  }
  .service__item h3 {
    font-size: 22px;
  }
  .service__data {
    padding-left: 5px;
  }
  .service__images {
    height: unset;
  }
  .service__images img {
    width: 150px;
  }
  .about__data h1,
  .menu__title h1,
  .open__desc h1,
  .experience__data h1 {
    font-size: 50px;
  }
  .banner {
    height: 300px;
  }
  .banner__data {
    padding: 0 6rem;
  }
  .banner__data h3 {
    font-size: 50px;
  }
  .menu__title p {
    font-size: 15px;
  }
}
